<?php
/**
 * Copyright (c) 2019 Elias Häußler <elias@haeussler.dev>. All rights reserved.
 */
declare(strict_types=1);

$finder = PhpCsFixer\Finder::create()
    ->in(__DIR__)
    ->exclude('docs');

return PhpCsFixer\Config::create()
    ->setRules([
        '@PSR2' => true,
        '@DoctrineAnnotation' => true,
        '@PSR1' => true,
        '@PhpCsFixer' => true,
        '@Symfony' => true,
        'concat_space' => ['spacing' => 'one'],
        'elseif' => false,
        'linebreak_after_opening_tag' => true,
        'list_syntax' => true,
        'multiline_whitespace_before_semicolons' => ['strategy' => 'no_multi_line'],
        'no_blank_lines_before_namespace' => true,
        'phpdoc_to_comment' => false,
        'single_blank_line_before_namespace' => false,
        'single_quote' => false,
        'yoda_style' => false,
    ])
    ->setFinder($finder);
